# Git
.git
.gitignore

# Docker
.docker


#exclude pycache data. We dont need remove all local 
# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/